@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.navbar-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.header-bg {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.test {
  border: 1px solid red;
}

.cutom-input {
  @apply w-full px-[10px] py-[15px] outline-none rounded-[8px]  border;
}
